OPENAI_API_KEY="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"
ANTHROPIC_API_KEY="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"